OPENAI_API_KEY="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"
ANTHROPIC_API_KEY="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"